
.MiMenu{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    background-color: rgb(203, 234, 227);
    height: 100px;
}
.opciones {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    font-family: fantasy;
    font-size: 45px;
    color: blue;
    cursor: pointer;
}
